.body{
	background-color: rgb(224, 224, 224);
	padding: 70px;
}

.chart-container{
	padding: 50px;
	margin: 30px 100px;
	background-color:rgb(228, 228, 228);
	border-radius: 10px;
}


.Title{
	margin-top: 70px;
	font-size: larger;
}

.chart-title {
    color: #ff4500;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}