.nav-container { 
	position: fixed; 
	top: 0; 
	left: 0;
	right: 0;
	width: 100%; 
	margin: 0 auto; 
	padding: 0 20px;
	background-color: rgb(185, 185, 185);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	column-gap: 20px;
	align-items: center;
	box-sizing: border-box; 
	overflow: hidden; 
	z-index: 1000;
  }

  .nav-container.home-page {
	background-color: rgba(113, 113, 113, 0.5);
	box-shadow: 0 0 10px rgba(25, 25, 25, 0.2);
  }

  .nav-container.home-page button {
	background-color: rgb(137, 137, 137);
  }

  .nav-container.home-page button:hover {
	background-color: rgb(90, 90, 90);
  }

  .nav-link.home-page-link {
	color: white;
  }

  .nav-link.home-page-link:hover {
	color: rgb(17, 17, 17);
  }

  .user-name {
	color:rgb(0, 131, 59);
	font-size: 1.1rem;
	font-weight: bold; 
  }
  .user-name.home-page-user-name {
	color:rgb(0, 105, 47);
  }

  .nav-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	padding: 10px;
	font-size: 1rem;
	color: rgb(37, 37, 37); 
  }
  
  button {
	width: 130px;
	max-width: 130px;
	background-color: rgb(120, 120, 120);
	color: white;
	font-size: 0.9em;
	border: none;
	border-radius: 5px;
	padding: 5px;
	margin-top: 5px;
	margin: 7px 15px;
	cursor: pointer;
  }

  .nav-link:hover {
	color: rgb(255, 255, 255);
  }
  
  button:hover {
	background-color: rgb(70, 70, 70);
  }
  
  /* Адаптивність для маленьких екранів */
  @media (max-width: 768px) {
	.nav-container {
	  flex-direction: column; 
	  justify-content: center;
	  padding: 10px;
	}
  
	.nav-link {
	  font-size: 1rem;
	  margin-bottom: 10px;
	}
  
	button {
	  width: 100%;
	  max-width: none;
	  margin: 5px 0;
	}
  }

  .center-container {
	align-items: center;    
	flex-direction: column; 
	text-align: center;     
  }
  
  