.body {
	background-image: url('../../assets/images/elevator1.jpg');
	background-size: cover;
	background-position: top center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden; 
  }